/* Reset */
* {
  margin:0;
  padding:0;
}

/* Inicio CSS General */
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238E0000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #f5f6fa;
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  padding-top: 18px;
}

/* Nav */
#miNav {
  background-color: #450000 !important;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

#miNavCentro {
  word-spacing: 20px;
  padding: 0px;
}

#miNavCentro a {
  margin-right: 50px;
  margin-left: 50px;
  transition: 1s;
}

#miNavCentro a:hover {
  transform: scale(2, 1);
}

.logo-nav {
  transition: 2s;
}

a:hover {
  transform: rotate(360deg);
}

/* Articulos General */
strong {
  background-color: red;
}

/* Index */
.portadaIndex {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.seccion1 {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section .articulo {
  background-image: url(../img/background.jpg);
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border: 2px black solid;  
  color: white;
  margin: 30px 60px 15px 60px;
  padding: 1em;
  font-family: 'Noto Serif', serif;
}

.articulo h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.seccion2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 5px;
  padding: 20px;
}

.img1994 {
  border: 8px black solid;
}

.img2021 {
  border: 8px black solid;
}

.img1994:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.img2021:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

/* Miembros */
.articuloB {
  border: 3px black solid;
  background-image: url(../img/background.jpg);
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: #f5f6fa;
  text-align: center;
  padding: 5px auto 5px auto;
  margin: 25px 15% 15px 15%;
}

.articuloB h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
}

.imgB {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 25px 0px 60px 0px;
}

.imgB2 {
  border: 3px black solid;
}

.tituloMiembros {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  color: #f5f6fa;
  margin-bottom: 20px;
}

.cartas1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cartas2 {
  padding-bottom: 20px;
}

.card-body2 {
  background-image: url(../img/backgroundblack.jpg);
}

.card-body2:hover {
  transform: scale(1.1);
  transition: 1.5s;
}

.card-titleA {
  font-family: 'Special Elite', cursive;
  color: #ee1010;
  font-size: 25px;
}

.card-text {
  font-family: 'Noto Serif', serif;
  color: #f5f6fa;
  font-size: 15px;
}

/* Discografía */
.card-body3 {
  background-image: url(../img/backgroundblack2.jpg);
}

.card-titleB {
  font-family: 'Special Elite', cursive;
  color: #ffffff;
  font-size: 20px;
}

.img-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.album13 {
  margin-left: 51%;
  margin-right: 49%;
}

.tituloDisco {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  color: #f5f6fa;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Multimedia */
.h3Multimedia {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: #f5f6fa;
  margin-top: 15px;
  margin-bottom: 5px;
}

.h3Multimedia h3 {
  font-size: 35px;
}

.fila1 {
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.fila2 {
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.fila3 {
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
}

.seccionGaleria:hover {
  transform: scale(1.1);
  transition: 0.5s;
} 

.fila4 {
  padding: 10px 5px 20px 5px;
}

.video1 {
  margin-left: 30px;
  margin-right: 30px;
}

.video2 {
  margin-left: 30px;
  margin-right: 30px;
}

/* Recitales */
.articulo5 {
  background-image: url(../img/backgroundblack3.jpg);
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border: 5px black solid;  
  color: white;
  margin: 30px 50% 15px 50px;
  font-family: 'Noto Serif', serif;
}

.articulo5 h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.articulo6 {
  background-image: url(../img/backgroundred.jpg);
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border: 5px black solid;  
  color: white;
  margin: 30px 50px 15px 50%;
  font-family: 'Noto Serif', serif;
}

.articulo6 h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.imgReci {
  margin: 2px 45px 2px 45px;
}

.imgReci:hover {
  border:black 2px solid;
}

.h3Form {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.h4Form {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.formulario {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
}

.botonesForm {
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.botonesForm input {
  background-color: black;
  color: #ffffff;
  margin: 1px 3px 10px 3px;
  padding: 1px 5px 1px 5px;
}

.botonEnviar:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.botonReiniciar:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Footer */
footer {
  background-color: #5c0000;
  text-align: center;
}

.footerInicio h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  padding-top: 10px;
  padding-bottom: 5px;
}

footer .footerFinal {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  padding-bottom: 0px;
}

footer .footerRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}

.topFooter:hover {
  animation-duration: 2s;
   animation-name: desaparecer;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.item1:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item2:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item3:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item4:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item5:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item6:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item7:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

/* Media Queries */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* General */
  h1 {
    font-size: 35px;
  }
  
  /* Index */
  .portadaIndex {
    margin-left: 10px;
    margin-right: 10px;
  }

  .seccion1 {
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  section .articulo {
    font-size: 20px;
    margin: 15px 15px 5px 15px;
    padding: 5px;
  }

  .seccion2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2px;
  }

  .articulo h3 {
    font-size: 30px;
  }

  .img1994 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .img2021 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  /* Miembros */
  .articuloB {
    padding: 5px auto 5px auto;
    margin: 5px 5% 5px 5%;
  }

  .imgB {
    margin-left: 10px;
    margin-right: 10px;
  }

  .cartas1 {
    padding-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .cartas2 {
    padding-bottom: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Discografía */
  .card-body3 {
    background-image: url(../img/backgroundblack2b.jpg);
  }

  .albums {
    padding-left: 39px;
    padding-right: 45px;
  }

  .album13 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
  }

  #carouselExampleIndicators {
    margin-left: 10px;
    margin-right: 10px;
  }

  .spotify {
    margin: 2px
  }

  /* Multimedia */
 .seccionGaleria {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .fila1 {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .fila2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fila3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fila4 {
  margin: 1rem;
}

.video1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.video2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.seccionGaleria:hover {
  transition: 0.5s;
} 

  /* Recitales */
  .articulo5 {
    border: 2px black solid;
    margin: 10px 8% 5px 8%;
    padding: 5px;
  }
  
  .articulo5 h3 {
    font-size: 30px;
  }

  .articulo6 {
    border: 2px black solid;
    margin: 10px 8% 5px 8%;
    padding: 5px;
  }
  
  .articulo6 h3 {
    font-size: 30px;
  }

  .imgReci {
    margin: 2px 10px 10px 10px;
  }

  .formularioCaja {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  /* Footer */
  footer h3 {
    font-size: 33px;
  }

  footer h5 {
    font-size: 18px;
  }

  .footerRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   /* Index */
   .seccion1 {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .seccion2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 2px 10px 2px;
    padding: 1px;
  }

  .img1994 {
    margin-bottom: 5px;
  }

  .img2021 {
    margin-top: 5px;
  }

   /* Miembros */
   .articuloB {
    padding: 5px auto 5px auto;
    margin: 10px 2% 10px 2%;
  }

  .album13 {
    margin-left: 52%;
    margin-right: 48%;
    padding-left: 10px;
  }

  /* Multimedia */
  .seccionGaleria {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .fila1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
 
  .fila2 {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
 }
 
 .fila3 {
   margin-top: 0px;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
 }

 .h3Tablet {
   margin-top: 50px;
   margin-bottom: 0px;
 }

 .fila4 {
  margin: 1rem;
}

.video1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.video2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

 /* Recitales */
 .articulo5 {
  border: 3px black solid;
  margin: 25px 5% 15px 5%;
  font-size: 20px;
}

.articulo5 h3 {
  font-size: 40px;
}

.articulo6 {
  border: 3px black solid;
  margin: 25px 5% 15px 5%;
  font-size: 20px;
}

.articulo6 h3 {
  font-size: 40px;
}

.imgReci {
  margin-top: 1px; 
  margin-bottom: 10px;
}

.h3Form {
  font-size: 35px;
}

.h4Form {
  font-size: 30px;
}

.formulario {
  font-size: 20px;
}

.form-control {
  font-size: 18px;
}

.botonesForm {
  font-size: 23px;
}

}