/* Reset */
* {
  Margin:0;
  padding:0;
}

/* Inicio CSS General */
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238E0000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* Titulos */
h1 {
  color: #f5f6fa;
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  padding-top: 18px;
}

/* Nav */
#miNav {
  background-color: #450000 !important;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

#miNavCentro {
  word-spacing: 20px;
  padding: 0px;
}

#miNavCentro a {
  margin-right: 50px;
  margin-left: 50px;
  transition: 1s;
}

#miNavCentro a:hover {
  transform: scale(2, 1);
}

.logo-nav {
  transition: 2s;
}

a:hover {
  transform: rotate(360deg);
}

/* Index */
.portadaIndex {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.seccion1 {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 8px;
  display: flex;
  justify-content: center;
}

section .articulo {
  background-image: url(../img/background.jpg);
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border: 2px black solid;  
  color: white;
  margin: 5px;
  font-family: 'Noto Serif', serif;
}

.articulo h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.seccion2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.img1994 {
  border: 8px black solid;
}

.img2021 {
  border: 8px black solid;
}

.img1994:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.img2021:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

/* Miembros */
.articuloB {
  border: 3px black solid;
  background-image: url(../img/background.jpg);
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  color: #f5f6fa;
  text-align: center;
  padding: 5px auto 5px auto;
  margin: 25px 15% 15px 15%;
}

.articuloB h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
}

.imgB {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 25px 0px 60px 0px;
}

.imgB2 {
  border: 3px black solid;
}

.tituloMiembros {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  color: #f5f6fa;
  margin-bottom: 20px;
}

.card-body {
  background-image: url(../img/backgroundblack.jpg);
}

.card-body:hover {
  transform: scale(1.1);
  transition: 1.5s;
}

.card-title {
  font-family: 'Special Elite', cursive;
  color: #ee1010;
  font-size: 25px;
}

.card-text {
  font-family: 'Noto Serif', serif;
  color: #f5f6fa;
}

/* Footer */
footer {
  background-color: #5c0000;
  text-align: center;
}

.footerInicio h3 {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  padding-top: 10px;
  padding-bottom: 5px;
}

.footerInicio:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

footer .footerFinal {
  color: #f5f6fa;
  font-family: 'Special Elite', cursive;
  padding-bottom: 0px;
}

footer .footerRedes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}

.topFooter:hover {
  animation-duration: 2s;
   animation-name: desaparecer;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.item1:hover {
  transform: scale(1.6);
  transition: 0.5s;
  
}

.item2:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item3:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item4:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item5:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item6:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

.item7:hover {
  transform: scale(1.6);
  transition: 0.5s;
}

/* Media Queries */

@media only screen and (min-width: 0px) and (max-width: 767px) {

  /* Footer */
  footer {
    text-align: center;
  }

  footer h3 {
    font-size: 30px;
  }

  footer h5 {
    font-size: 15px;
  }

  .footerRedes {
    display: flex;
    justify-content: center;
  }

  .footerRedes img {
    width: 40px;
    height: 40px;
  }
  
  /* Miembros */
  .articuloB {
    padding: 5px auto 5px auto;
    margin: 25px auto 10px auto;
  }
}